*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modal-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-box{
    width: 50%;
    height: auto;
    background-color: #fff;
    text-align: center;
    position: relative;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0px 0px 4px #fff;
}
.btn{
    padding: 3px 7px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 5px;
    transition: .2s;
    border: none;
}
.btn:hover{
    background-color: #ccc;
}